# Set to 0 or comment the line below to enable bot interactions
# If DRY_RUN is enabled, the bot will receive activity and simulate actions
# but won't post any messages.
DRY_RUN=1

# URL of the Mastodon server hosting the bot
SERVER_URL=https://server.test
ACCESS_TOKEN=yourmastodontoken

# Accounts that will be mentioned when a message is reported.
MODERATORS_USERNAMES=user1@server.test,user2@server.test

LOGLEVEL=INFO

# Hashtags that will be added to all the bot's messages
# BOT_HASHTAGS=ShyRaccoon,MastoBot